body {
  background-color: rgb(146, 146, 155);
  width: 100vw;
  height: 100vh;
}

.room {
  margin: auto;
  width: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  /* padding: 3px; */
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
}
.room:hover {
  background-color: rgba(159, 5, 154, 0.521);
}

h1 {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 20px;
  text-shadow: 5px 5px 5px rgba(6, 32, 128, 0.5);
  font-family: "Courier New", Courier, monospace;
  font-size: 70px;
  color: blueviolet;
}

.red {
  color: rgb(172, 15, 15);
  font-size: 20px;
  text-decoration: line-through black;
}
.blue {
  color: blue;
  font-size: 20px;
  text-shadow: 2px 2px 2px #fff;
}
button {
  padding: 1rem 2rem;
  color: bisque;
  background: rgb(202, 37, 37);
  border-radius: 50%;
}
